{% extends 'base.html' %}

{% block title %}
Log out
{% endblock %}

{% block body %}

<div class="sign__first__screen">
  <div class="sign__first__screen__inner__logout">
        <form action="" method="post" class="form-contact">
            <div class="sign__first__screen__subtitle__logout">
                Confirm action
            </div>
            <div class="button__center">
                <input type="submit" value="Log out" />
            </div>
        </form>
    </div>
</div>

{% endblock %}